body{
    background-color: rgb(21, 100, 31) ;
}

.title{
    color: rgb(143, 255, 158);
    font-weight: bolder;
    font-size: 40px ;
    margin: 2% 5% 0 5%;
    border-bottom: 5px solid #90c586;
    display: block;
}

.sub-title{
    color: rgb(143, 255, 158);
    font-weight: bold;
    font-size: 25px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 2%  ;
}

.rowDiv{    
    display:block;
    text-align: center;
    line-height: 50px;  
    margin-top: 2%;
    color: rgb(184,197,254);
    font-size: x-large;
}

.topDiv{
    height: 25px;
    text-align: center;
    margin-right: 5%;
    max-width: 40px;
    background-color: rgb(184,197,254);
    color: #001E6C;
    border: .1px solid transparent;
    border-width: .1px;
    border-style: solid;
    border-color: transparent;
}

.board{
    position: relative;
    margin: 0 auto;
    width: 800px;
}

.player{
    position: absolute;
    width: 80;
    height: 80;
}

.label{
    font-size: 50px;
    font-weight: bold;
    margin-right: 5%;
    margin-left: 5%;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#player1Location{
    color: rgb(62, 199, 253);
    padding: 16px;
}

#player2Location{
    color: crimson;
    padding: 16px;
}

.imgRef{
    text-decoration: none;
}

.credit{
    width: 100%;
    color: white;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    text-shadow: 2px 3px 5px black;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 70%;
  position: relative;
  margin: auto;
  text-align: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.zoom {
  filter:brightness(1);
  transition: transform .2s;
}

.zoom:hover { 
  transform: scale(1.05);
  filter:brightness(0.6);
  transition:opacity scale 2s;
}

